<h1>Proof of concept</h1>
<div>
  <ul id="ulTag">
    {{#each results}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
</div>
<div>
  <form id="mainForm">
    <input type="text"/>
    <input type="submit">
  </form>
</div>
